<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>about</title>
    <script src="script.js" defer></script>
    <link
      rel="stylesheet"
      href="{{url_for('static', filename = 'about.css')}}"
    />
    <link
      rel="stylesheet"
      media="screen"
      href="https://fontlibrary.org//face/thabit"
      type="text/css"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Fjalla+One&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="navbar">
      <ul>
        <li>
          <img
            src="{{url_for('static', filename = 'logo.png')}}"
            width="58"
            height="40"
          />
        </li>
        <li>
          <a style="display: inline-block" id="name" href="upload_file">Data API</a>
        </li>
        <li style="float: right"><a href="about">about me.</a></li>
        <li style="float: right"><a href="upload_file">upload file.</a></li>
        <li style="float: right"><a href="how">how?</a></li>
      </ul>
    </div>
    <div id="text">
      <text>
        My name is <a class="here" href="https://www.linkedin.com/in/maciej-so%C5%82owiej-9bbb85235/" target="_blank">Maciej</a> and I 21 year old <a class="here" href="https://github.com/solowiejmaciej">self taught developer</a>.
        <br>
        <br>
        Feel free to suggest your ideas to this app and to criticise. If you want to create something together i'm more then happy to do it.
      </text>
      <br>  
      <br>  
      <br>  
      TODO:
        <p><s>most freqent creator</s></p>
        <p><s>most freqent video</s></p>
        <p><s>total watch time based on video length</s></p>
        <p><s>async requests</s></p>
        <p>choice if you want to make api call</p>
        <br>
        <br>
        <br>
        <br>
        <br>
    </div>
  </body>
</html>
